*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.App{
    width: 100%;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}
.form{
    display: flex;
    
}
.form{
    width: 100%;
    display: flex;
}
.form button{
    width: 100%;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
   
   
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    margin:0  2px;
}
.form button:hover{
    background-color: black;
    color: #fff;
}
.select_btn{

    background-color: black;
    
    color:#fff;

   
}


.u_list{
    width: 100%;
    height: 100%;
  
    
    
   
}
.u_list li{
   background-color: #f7f1e3;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  
     
   
    list-style-type: none;
  
}
.tdata{
    border: 2px solid;
    text-align: center;
}